name: Push
on:
  push:
#    branches:
#      - main

jobs:
  publish-snapshot:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          fetch-depth: 0
      - name: Setup Java
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5
        with:
          java-version: 21
          distribution: temurin
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5
      - name: Setup GPG keys
        run: |
          echo "${{ secrets.GPG_PRIVATE_KEY }}" >> ~/secret-key.asc
          chmod 600 ~/secret-key.asc
      - name: Deploy to Maven Central
        run: |
          ./gradlew publishToMavenCentral \
            -Psigning.secretKeyRingFile="$HOME/secret-key.asc" \
            -PmavenCentralUsername="${{ secrets.MAVEN_CENTREAL_PORTAL_USERNAME }}" \
            -PmavenCentralPassword="${{ secrets.MAVEN_CENTRAL_PORTAL_PASSWORD }}"
        env:
          RELEASE_VERSION: 0.1.0-SNAPSHOT
